<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834867364928-26bl73flsron9u6b9edtvml6kq329uh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834867364928-26bl73flsron9u6b9edtvml6kq329uh3</string>
	<key>API_KEY</key>
	<string>AIzaSyDQjGoMRwa0nQnJsftAn8Tjt9LKMJ6CVCs</string>
	<key>GCM_SENDER_ID</key>
	<string>834867364928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eelneb.Voto</string>
	<key>PROJECT_ID</key>
	<string>voto-614fd</string>
	<key>STORAGE_BUCKET</key>
	<string>voto-614fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834867364928:ios:dcc8714a8b632dbf2c8ba5</string>
</dict>
</plist>